<p>Interpolation</p>
<p>{{title}} - {{userInput}}</p>

<p (click)="toggle()">Event Binding</p>
<button [disabled]="isDisabled" (click)="onBtnClick('clicked')">Click Me!</button>
<input type="text" (keyup)="onUserInput($event)">

<p>Two Way Data Binding</p>

<input type="text" [(ngModel)]="twoWayBinding"> <span>{{twoWayBinding}}</span>



<p> Directives </p>


<!-- <p [ngStyle]="{'font-size':!isActive?'40px':''}">This text contains ng style directive</p> -->
<p (click)="isActive=!isActive" [ngClass]="isActive?'isActive':'inActive'">This text contains ng class directive</p>

<P *ngIf="isActive; else elseBlock">Content to render when condition is true.</P>
<ng-template #elseBlock>This is the else block</ng-template>

<!-- 
<P *ngIf="isActive">Content to render when condition is true.</P>
<P *ngIf="!isActive">This is the else block</P> -->


<ul>
    <li *ngFor="let planet of planets;index as i,first as isFirst,last as isLast,even as isEven,odd as isOdd">{{i+1}} {{isFirst}} {{isLast}} {{isEven}} {{isOdd}} {{planet.planetName}}
         <span [ngClass]="isFirst?'isActive':''"> sample </span>
    </li>
    <!-- <li>earth</li>
    <li>mars</li>
    <li>saturn</li> -->
</ul>