.header{

}
.content{
    display: flex;
    .main-area{
        width: 60%;
    }
    .side-bar{
        width: 40%;
    }
}
.footer{

}


ul{
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    height: 70px;
    li{
        list-style: none;
        margin-right: 20px;
        a{
            color: #fff;
        }
    }
}