<!-- <button (click)="changeUserDetails()">Click Me!</button> -->
<!-- <app-child [user]="userDetails" (addNewUser)="newUserEmitted($event)"></app-child> -->



<!-- <p>User List</p> -->
<!-- <p *ngFor="let user of users"> {{user}} </p> -->
<!-- <ng-container *ngFor="let user of users">
    <app-user [userDetail]="user"></app-user>
</ng-container> -->


<!-- <ul>
  <li><a routerLink="/aboutus">AboutUs</a></li>
  <li><a routerLink="/contactus">ContactUs</a></li>
</ul>

<router-outlet></router-outlet> -->

<!-- <app-users-list></app-users-list> -->
<!-- <app-aboutus></app-aboutus> -->
<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/contactus">ContactUs</a></li>
  <li><a routerLink="/aboutus">Aboutus</a></li>
</ul>
<router-outlet></router-outlet>


